.site-background-holder {
  min-height: 100vh;
}
.food-background {
  max-width: 1200px;
  width: 100vw;
  position: fixed;
  z-index: -2;
}

.food-background-top {
  top: 0;
  right: 0;
}
.food-background-bottom {
  bottom: 0;
  left: 0;
}
